<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheResult="false"
         colors="true"
         verbose="true">

    <testsuites>
        <testsuite name="tests">
          <directory>tests</directory>
          <exclude>tests/MikrofraimFrameworkTest.php</exclude>
        </testsuite>
    </testsuites>

    <php>
        <const name="MIKROFRAIM_TESTSUITE" value="true"/>
        <env name="MIKROFRAIM_ENVIRONMENT_PATH" value="./.env.testing"/>
    </php>
</phpunit>