{% extends 'layouts/master.html' %}

{% block title %} Ready! {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center margin-top-100">
                <h1 class="margin-bottom-30">
                    <strong>We be ready!</strong>
                </h1>
                <hr>
                <h4 class="margin-top-30 text-muted">
                    <em>"Inspirational quote about being creative and building great things and such."</em>
                </h4>
            </div>
        </div>
    </div>
{% endblock %}
