{% extends 'layouts/master.html' %}

{% block title %} Ready! {% endblock %}

{% block content %}
    <div class="row mt-5">
        <div class="col-12 text-center mt-5">
            <img src="/img/mikrofraim-logo.png" alt="mikrofraim">
            <div class="mt-5" style="font-family: monospace;">
                <a href="https://github.com/tomrf/mikrofraim/">github</a> ▪
                <a href="https://github.com/tomrf/mikrofraim/blob/master/readme.md">readme</a>
            </div>
        </div>
    </div>
{% endblock %}
